.comments-container {
  width: 100%;
  border-top: 1px solid rgb(212, 212, 212);
  margin-top: 20px;

  font-family: sans-serif;

  .num-comments {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 0;
  }

  .form {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    width: 100%;

    padding-bottom: 20px;

    .icon {
      position: absolute;
      left: 5px;
      top: 8px;

      color: #5f6368;
      font-size: 1.4rem;
    }

    textarea {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 80%;
      min-height: 2rem;

      resize: vertical;

      background-color: white;
      font-size: 1.1rem;

      padding: 8px 12px;
      padding-left: 38px; // Gives space for the icon.

      border-radius: 100px;
      border-top-left-radius: 0;
      border: 2px solid rgb(192, 192, 192);

      height: 1rem;

      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    textarea:focus {
      border-radius: 30px;
      border-top-left-radius: 0;
      height: 100px;

      // transition-property: all, border-radius;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    textarea.visited {
      height: 100px; // Keeps textarea height increased after unfocus
    }

    // Comment button
    button {
      border-radius: 100px;
      border: none;

      padding: 8px 12px;
      font-size: 1rem;
      background-color: #00b6ef;
      color: white;

      cursor: pointer;
    }
    button:hover {
      background-color: #104b99;
    }
    button:disabled {
      background-color: grey;
    }
  }

  .commentCollection {
    display: flex;
    flex-direction: column;
    gap: 46px;

    font-size: 1.4rem;
  }

  // Load more comments Button
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button {
      border-radius: 100px;
      border: none;

      padding: 12px 18px;
      font-size: 1.4rem;

      background-color: #00b6ef;
      color: white;

      cursor: pointer;
    }
    .button:hover {
      background-color: #104b99;
    }
  }
}

/* Stylings for desktops */
@media screen and (min-width: 600px) {
  .comments-container {
    .form {
      textarea {
        font-size: 1.4rem;
      }
    }
  }
}
