.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: sans-serif;

  height: 60px;
  padding: 8px 8px;

  & > * {
    flex: 1;
  }

  // Search bar
  .search-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 200px;
    max-width: 50vw;

    .icon {
      position: absolute;
      left: 12px;
      color: #5f6368;

      z-index: 1;
    }
    input:focus + .icon {
      opacity: 0;
    }

    .close {
      position: absolute;
      left: 4px;

      opacity: 0;
      z-index: 1;
      padding: 8px;

      cursor: pointer;
    }
    .close:hover {
      background-color: rgb(139, 67, 67);
      border-radius: 100px;
    }
    input:focus ~ .close {
      z-index: 1;

      opacity: 1;

      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    input {
      position: absolute;
      width: 60px;
      min-width: 40px;
      background-color: #dbdbdb;

      padding: 12px 18px;
      padding-left: 30px; // Gives space for the search icon.

      border-radius: 100px;
      border: 1px solid transparent;

      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    input:focus {
      width: 50vw;

      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }

  // Logo
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 100%;

      img {
        height: 100%;
      }
    }
  }

  // Upload Button
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .button {
      border-radius: 100px;
      border: none;

      padding: 12px 18px;
      font-size: 1rem;

      background-color: #00b6ef;
      color: white;

      cursor: pointer;
    }
    .button:hover {
      background-color: #104b99;
    }
  }
}

/* Prevents text highlighting with cursor dragging */
.no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

// Removes link decorations from text
.remove-link-style {
  text-decoration: none;
  color: black;
}

/* Stylings for desktops */
@media screen and (min-width: 600px) {
  .navbar {
    padding: 16px 32px;

    .search-container {
      input {
        width: 120px;
      }
      input:focus {
        width: 100%;
      }
    }
  }
}
